<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icons/stock_and_shop_logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/addCategory.css" />
    <link rel="stylesheet" href="/styles/errors.css">
    <title>Stock & Shop | Add a Product</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="main-container">
        <div class="heading-container">
          <h1>Add a Category</h1>
          <a href="/categories" class="button">Back</a>
        </div>

        <% if (locals.errors) {%>
          <div class="error-container">
            <ul>
              <% errors.forEach((error) => { %>
                <li><%= error.msg %> </li>
              <% }); %>
            </ul>
          </div>
        <%} %>

        <form action="/add/category" method="POST">
          <div class="label-input-container">
            <label for="category_name">Category Name:</label>
            <input type="text" name="category_name" id="category_name" required>

            <label for="category_color">Color (Please use light colors):</label>
            <input 
              type="color" 
              name="category_color" 
              id="category_color" 
              value="#e3baf7"
              required
            >

            <label for="category_image_url">Image URL:</label>
            <input 
              type="text" 
              name="category_image_url" 
              id="category_image_url" 
              required
            >

          </div>

          <button type="submit">Add Category</button>
        </form>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
