<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icons/stock_and_shop_logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/categories.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Stock & Shop | Categories</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="main-container">
        <div class="heading-container">
          <h1>Categories</h1>
          <div class="button-container">
            <a href="/delete/category" class="button delete">Delete Category</a>
            <a class="button" href="/add/category">Add Category</a>
          </div>
        </div>
        <div class="categories-container">
          <% categories.forEach((category) => { %>
            <%- include('partials/category', {category: category}); %>
          <% }); %>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
