<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icons/stock_and_shop_logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/deleteCategory.css" />
    <title>Stock & Shop | Delete Category</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="main-container">
        <div class="heading-container">
          <h1>Delete a Category</h1>
          <a href="/categories" class="button">Back</a>
        </div>

        <p>Select a category to be deleted. NOTE: deleting a category will also delete all products in that category.</p>

        <form action="/delete/category" method="POST">
          <div class="label-input-container">
            <label for="category">Category:</label>
            <select name="category_id" id="category" required>
              <% categories.forEach((category) => { %>
                <option value="<%= category.category_id %>"><%= category.category_name %></option>
              <% }); %>
            </select>

          </div>

          <button type="submit" class="delete">Delete Category</button>
        </form>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
