<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Stock & Shop | Home</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="main-container">
        <div class="text-container">
          <h1>Welcome!</h1>
          <p>
            Welcome to Stock & Shop, your home for all your inventory management
            needs! Please select an option below to browse and manage your
            inventory.
          </p>
        </div>

        <div class="link-container">
          <a href="/products" class="browse-products">
            <h2>Browse Products</h2>
          </a>
          <a href="/categories" class="browse-categories">
            <h2>Browse Categories</h2>
          </a>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
