<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/footer.css" />
    <title>Stock & Shop | Home</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <a href="/products" class="browse-products">
        <h2>Browse Products</h2>
      </a>

      <a href="/brands" class="browse-brands">
        <h2>Browse Brands</h2>
      </a>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
