<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/icons/stock_and_shop_logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/products.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <title>Stock & Shop | All Products</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <div class="main-container">
        <h1>Products</h1>
        <div class="products-container">
          <% products.forEach((product) => { %>
            <%- include('partials/product-card', {product: product}); %>
          <% }); %>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
