header {
  z-index: 10;
  position: sticky;
  top: 0;

  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;

  background-color: var(--color-primary-one);
  color: #000000;

  box-shadow: var(--box-shadow);
}

.header-container {
  height: 100%;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .stock-and-shop-logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}

header img {
  width: 50px;
}

header nav {
  height: 100%;
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  font-family: "Mulish";
  color: #2f2f2f;
}

header ul li a.active {
  font-weight: bold;
}

header ul li a:hover {
  color: #000000;
}

header .mobile-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    padding: 16px 24px;
  }

  .header-container {
    align-items: start;
  }

  header .stock-and-shop-logo-container {
    gap: 16px;
    align-items: start;
  }
  header .stock-and-shop-logo-container h1 {
    font-size: 24px;
  }
  header img {
    width: 30px;
  }

  header nav {
    display: none;
  }

  header .mobile-menu {
    display: block;
  }

  header .mobile-menu ul {
    height: 0px;
    transition: height 0.5s ease-in-out;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 100%;
  }

  header .mobile-menu ul.open {
    height: 84px;
  }
}
