.categories-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 24px;
  row-gap: 24px;
  justify-content: space-around;
}

.main-container .heading-container {
  border-bottom: 3px solid #d1d5db;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-container .button-container {
  display: flex;
  gap: 16px;
}

.heading-container a.button {
  background-color: var(--color-primary-one-card);
  border: 2px solid var(--color-primary-one-card-border);
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.heading-container a.button:hover {
  background-color: var(--color-primary-one);
  border-color: var(--color-primary-one-hover);
}

.heading-container a.button.delete {
  color: var(--color-accent-error);

  background-color: var(--color-accent-error-light);
  border: 1px solid var(--color-accent-error);
}

.heading-container a.button.delete:hover {
  color: var(--color-neutral-background);

  background-color: var(--color-accent-error);
  border: 1px solid var(--color-accent-error);
}

.category-card {
  width: 250px;
  height: 260px;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 12px;
  box-shadow: var(--box-shadow);
}

.category-card:hover {
  border: 3px solid var(--color-primary-one-hover);
}

.category-card h3 {
  text-align: center;
}

.category-card img {
  width: 190px;
  height: 150px;
  object-fit: cover;

  border-radius: 12px;
}

@media (max-width: 600px) {
  .main-container .heading-container {
    align-items: start;
  }
  .heading-container .button-container {
    flex-direction: column-reverse;
  }
  .heading-container .button-container .button {
    width: 150px;
    text-align: center;
  }
}
