footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-primary-one);
  color: var(--color-neutral-primary-text);
}

footer p {
  font-size: 14px;
}
