.text-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-container h1 {
  border-bottom: 3px solid #d1d5db;
  padding-bottom: 2px;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.browse-products,
.browse-categories {
  border-radius: 12px;
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: var(--box-shadow);

  transition: background-color 250ms ease-out;
}

.browse-products {
  background-color: var(--color-primary-one);
}

.browse-products:hover {
  background-color: var(--color-primary-one-hover);
}

.browse-categories {
  background-color: var(--color-primary-two);
}

.browse-categories:hover {
  background-color: var(--color-primary-two-hover);
}

@media (max-width: 1200px) {
  .link-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .text-container {
    gap: 16px;
  }

  .link-container {
    gap: 24px;
  }
  .browse-products,
  .browse-categories {
    width: 90%;
    height: 120px;
  }
}
