@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-primary-one: hsl(280, 80%, 85%);
  --color-primary-one-card: hsl(280, 80%, 96%);
  --color-primary-one-card-border: hsl(280, 50%, 85%);
  --color-primary-two: hsl(35, 90%, 80%);
  --color-primary-two-border: hsl(35, 100%, 68%);
  --color-primary-two-hover: hsl(35, 100%, 56%);
  --color-primary-two-border-hover: hsl(35, 100%, 50%);
  --color-accent-info: #42a5f5;
  --color-accent-error: #e53935;
  --color-accent-error-light: #f5e6e5;
  --color-accent-warning: #fbc02d;
  --color-neutral-background: #f4f7fa;
  --color-neutral-primary-text: #2e2e2e;
  --color-neutral-secondary-text: #757575;
  --color-neutral-borders: #e0e0e0;

  --color-primary-one-hover: hsl(280, 90%, 75%);
  --color-primary-two-hover: hsl(35, 100%, 70%);

  --box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  line-height: 120%;
}

h2 {
  font-size: 24px;
  line-height: 130%;
}

h3 {
  font-size: 20px;
  line-height: 130%;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.small-text {
  font-size: 14px;
  line-height: 140%;
}

.smallest-text {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
.button {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  height: max-content;
  width: max-content;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: var(--box-shadow);

  transition: background-color 250ms ease-out, border-color 250ms ease-out;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 85px 1fr 50px;
  transition: grid-template-rows 0.5s ease-in-out;
}

main {
  background-color: var(--color-neutral-background);

  padding: 48px 24px;
}

.main-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

form,
form input,
form textarea,
form select {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  body {
    grid-template-rows: 65px 1fr 35px;
  }

  body.open {
    grid-template-rows: 165px 1fr 35px;
  }

  main {
    padding: 28px 24px;
  }

  .main-container {
    gap: 24px;
  }
}
